.gridProducto {
    padding-top: 3rem;
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-areas:    "image info1"
                            "image info2"
                            "image info3";
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 50%;



}

.imagenProd {
    grid-area: image;
    border: 2px black solid;
    border-radius: 2rem;
}

.precioProd {
    text-align: center;
    grid-area: info3;
}

.nameProd{
    grid-area: info1;
    text-align: center;
}

.linkCart {
    font-size: 2rem;
    grid-area: info3;
}