
.backgroundClass{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/guitargodwebfb.appspot.com/o/fondoGuitarras.jpg?alt=media&token=284d937b-ad15-4e1f-ae17-f0934671169b");
    background-repeat: no-repeat;
    background-size: cover;
}

.ItemListWrapper{
    width: 92%;
    min-height: calc(100vh - 76px - 60px - .2rem); /* container height= 100vh-navHeight-tabsHeight-margins */
    margin: auto;
    max-width: 2000px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}



.ItemList{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
    align-self: start;

}

.ItemList__products {
    width: 100%;
    margin-top: 10rem;
    margin-bottom: 10rem;
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 9.4rem;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.tittle{
    font-size: 30rem;
    text-align: center;
    color:  rgb(0, 43, 83);
    padding-top: 10rem;
}

