.AgregCarrito {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: space-between;
    margin: auto;
    grid-area: info3;
    display: flex;
    align-items: center;
}

.AgregCarrito__Buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
    width: 10rem;
}

.AgregCarrito__BAgreg {

    width: 10rem;
}