
.flex-menu li {
    margin-right: 5rem;
    list-style-type: none;

}

.flex-menu a {
    font-size: 1.3rem;
}

.flex-menu{
    display: flex;
    margin-bottom: 0rem;
}

.logo-navbar {
    height: 7rem;
    width: 10rem;
    position: relative;
    margin-left: 1rem;
}

.navbar-parts {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgb(125, 18, 30);
}

.flex-menu a {
    color: white;
}