.flexboxRU {
    display: flex;
    flex-direction: column;
    height: 260rem;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 20rem;
    padding-top: 20rem;
}

.tittleRU {
    font-size: 15rem;
}

.inpClass {
    font-size: 8rem;
    border-style: double;
    border-radius: 5rem;
    border-color: rgb(88, 19, 40);
    padding: 2rem;
    width: 150rem;
}

.labelRU {
    font-size: 10rem;
    color: rgb(38, 38, 38);
}

.buttonReset {
    font-size: 8rem;
    width: 72rem;
    padding: 2.5rem;
    border: rgb(38, 38, 38) solid 2px;
    background-color: rgb(88, 19, 40);
    color: white;
    border-radius: 3rem;
    margin-left: auto;
    margin-right: auto;
}

.buttonEnd {
    font-size: 10rem;
    width: 85rem;
    padding: 3rem;
    border: rgb(38, 38, 38) solid 2px;
    background-color: rgb(3, 96, 172);
    color: white;
    border-radius: 3rem;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    text-align: center;
}

.buttonEnd:hover{
    color: white;
    
}


.boxInputs{
    border: dashed 2px rgb(0,43,83);
    border-radius: 10rem;
    width: 58%;
    height: 190rem;
    display: flex;
    flex-direction: column;
    padding: 10rem;
    justify-content: space-between;
}

.orderInputs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.errorClass{
    font-size: 8rem;
    text-align: right;
    margin-right: 10rem;
    color: rgb(88, 19, 40);
    text-decoration: underline;
}