.iconSVGBuy{
    color: bisque;
    font-size: 15rem;
    display: inline-block;
}
.iconSVGBuy:hover{
    color: white;
}

.quantityIcon {
    font-size: 10rem; 
    color: bisque;
    display: inline-block;
    margin-bottom: -5rem;
    position: relative;
    bottom: 5rem;
    left: 7rem;
}


.divWidget{
    display: inline-block;
}

